nav a {
    text-decoration: none;
}

nav li {
    list-style-position: inside;
    padding: 10px;
}
.top-menu li {
     display: inline-block;
     padding: 10px 30px;
     margin: 0;
 }

.top-menu a {
    color: #b2b2b2;
}
