
nav a {
    text-decoration: none;
}

nav li {
    list-style-position: inside;
    padding: 10px;
}
.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu a {
    color: mediumturquoise;
}
#left-content{
    display: inline-block;
    float: left;
    margin-left: 10px;
}
#right-content{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
footer {
    position: absolute;
    bottom: 0;
    color: #000000;
    font-size: 12px;
    margin-top: -50px;
    padding: 10px 10px;
    height: 30px;
    width: 100%;
}
.navbar-header img{
    height: 70px;
}
img:hover
{

    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
}
.form-control {
    margin-left: 200px;
    width: 60%;
}
.btn {
    margin-left: 200px;
}
.btn-danger {
    margin-left: 7px;
}
body{
    background-color: #f7f7f7;
    color: #3b5998;
}
.navbar-default{
    background-color: #dfe3ee;
}
.navbar-default .navbar-nav > li > a{
    color: #3b5998;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #9acfea;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
}
.panel-default > .panel-heading{
    color: #3b5998;
}